<%- include('header') %>
    <div class="container">
        
        <div class="row mb-3">
            <a href="/blogs/new" class="btn btn-success d-flex align-items-center"><i
                    class="material-icons mr-2">add_circle</i>
                New Blog</a>
        </div>

        <div class="row">

            <% if(data.length<1){%>

            <p class="text-white">No posts yet, create a new one</p>

            <%  } %>


           


            <div class="col-lg-6 card mt-2 mr-0">
                <div class="row p-2">

                    

                    <div class="col-7">
                        <div class="d-flex align-items-start">
                            <h5 class="w-100">Hello &nbsp;<b> <%= data.username %> </b></h5>

                            <!-- display more button -->
                            <div class="more position-relative" style="cursor: pointer;">


                                <i class="material-icons p-2">more_vert</i>
                                <!-- options list -->
                                <div class="d-none options card rounded-pill shadow-sm p-1 position-absolute">
                                    <a href="/blogs/edit/<%= data.id %> " class="rounded-circle p-2 mb-2"
                                        style="background:blue;">
                                        <i class="material-icons" style="color:white">create</i>
                                    </a>
                                    

                                </div>
                            </div>
                        </div>

                        <span class="align-self-stretch "><%= data.email %>

                        </span>
                        
                            
                            
                        </div>

                    </div>
                </div>

            </div>


           




        </div>
        <script src="/js/index.js"></script>

</body>

</html>